.backContact {
    background-color: #1b1c1d;
    width: auto;
    height: 100vh;
}

.titleContact {
    text-align: center;
    margin-top: 20%;
}

.titleContactText {
    font-size: 60px;
    font-weight: 800;
    color: white;
}

.contact {
    margin-top: 10%;
}

.buttonConfirm {
    text-align: center;
}

